@import "tailwindcss";
@import '../../../../node_modules/material-symbols/index.css';

* {
    user-select: none;
}

@theme {
    --font-sans: Noto Sans SC, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Roboto Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-symbols: 'Material Symbols Rounded';
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.symbols {
    font-family: "Material Symbols Rounded";
}

.pop-layer {
    background-color: rgba(0, 0, 0, 0.5);
}